*{
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
}
.livros{
    height: 60vh;
    background-color: white;

}
.imagens{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    
}
.capas{
    width: 150px;
    border-radius:15px;
}

.livros h3, h2{
    color:black;
    padding: 20px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
